{% extends 'base.jinja' %}

{% block content %}

<nav class="nav-area">
    <ul class="nav-list">
        <li class="nav-button"><a href="/">Home</a></li>
        <li class="nav-button"><a href="/members">Members</a></li>
        <li class="nav-button"><a href="/lessons">Lessons</a></li>
    </ul>
</nav>

<h1>Add Member</h1>
<body>
<form action="/member_form/add" method="post">

<div class="form-styling">
  <div>
    <label class="mem-add-label" for="first_name">First Name:</label>
    <input class="mem-add-input" type="text" id="first-name" name="first_name" placeholder="Insert here" required autofocus>
  </div>
  <div>
    <label class="mem-add-label" for="last_name">Last Name:</label>
    <input class="mem-add-input" type="text" id="last_name" name="last_name" placeholder="Insert here" required>
  </div>
  <div>
    <label class="mem-add-label" for="membership_type">Membership type:</label>
    <select class="mem-add-select" id="membership_type" name="membership_type">
        <option value="Standard">Standard</option>
        <option value="Premium">Premium</option>
    </div>
    </select>
</div>
    <button class="form-button" type="submit">Add</button>


</form>

{% endblock %}