{% extends 'base.jinja' %}

{% block content %}

<nav class="nav-area">
    <ul class="nav-list">
        <li class="nav-button"><a href="/">Home</a></li>
        <li class="nav-button"><a href="/members">Members</a></li>
        <li class="nav-button"><a href="/lessons">Lessons</a></li>
    </ul>
</nav>

<div class="member-display">
    <div class="member-page-top">
    <h3>{{member.first_name}} {{member.last_name}}</h3>
                        <form action="/member/{{member.id}}"><button class="form-button">Edit</button></form>
                        <form action="/member/{{member.id}}/delete" method="post"><button class="form-button">Remove</button></form>
    </div>
        <p>Membership type: {{member.membership_type}}</p>
        {% if member.account_status == True%}
        <p class="member-list-unit">Account Status: Active</p>
        {% endif %}
        {% if member.account_status == False%}
        <p class="member-list-unit">Account Status: Inactive</p>
        {% endif %}
</div>

<h3>registered in classes:</h3>

{% for lesson in lessons: %}
<ul>
<li><p><a href="/lesson/{{lesson.id}}/show">{{lesson.name}}</a></p>
</li>
</ul>
    
{% endfor %}

{% endblock %}