{% extends 'base.jinja' %}

{% block content %}


<header class="main-header">
    <ul>
        <li class="header-button"><a href="/">Home</a></li>
        <li class="header-button"><a href="/member_form">Add Member</a></li>
        <li class="header-button"><a href="/enroll">Enroll</a></li>
    </ul>
</header>

{% for member in members %}

    <div class="member-list-area">
        <ul>
            <li class="member-list-unit">Name:<a href="member/{{member.id}}/show"> {{member.first_name}} {{member.last_name}}</a>
            <li class="member-list-unit">Membership type: {{member.membership_type}}</li>
            {% if member.account_status == True%}
            <li class="member-list-unit">Account Status: Active</li>
            {% endif %}
            {% if member.account_status == False%}
            <li class="member-list-unit">Account Status: Inactive</li>
            {% endif %}

            <div class="button-container">
                    <form action="/member/{{member.id}}"><button class="form-button">Edit</button></form>
                    <form action="/member/{{member.id}}/delete" method="post"><button class="form-button">Remove</button></form>
                </li>
            </div>
        </ul>
    </div>
  {% endfor %}

{% endblock %}