{% extends 'base.jinja' %}

{% block content %}

<nav class="nav-area">
    <ul class="nav-list">
        <li class="nav-button"><a href="/">Home</a></li>
        <li class="nav-button"><a href="/members">Members</a></li>
        <li class="nav-button"><a href="/lessons">Lessons</a></li>
    </ul>
</nav>
<h1>Member Page</h1>
<div class="member-display">
    <div class="member-page-top">
        <h2>{{member.first_name}} {{member.last_name}}</h2>
        <div class="member-button">
            <form action="/member/{{member.id}}"><button class="form-button">Edit</button></form>
            <form action="/member/{{member.id}}/delete" method="post"><button class="form-button">Remove</button></form>
        </div>
    </div>
    <div class="member-details">
        <p>Membership type: {{member.membership_type}}</p>
        {% if member.account_status == True%}
        <p class="member-list-unit">Account Status: Active</p>
        {% endif %}
        {% if member.account_status == False%}
        <p class="member-list-unit">Account Status: Inactive</p>
        {% endif %}
    </div>

</div>

<p id="registered">Registered in Lessons</p>

{% for lesson in lessons: %}

    <ul id="mem-les-show">
    <div class="list-styling">
        <li>
        <a href="/lesson/{{lesson.id}}/show">{{lesson.name}}</a>
        </li>
    </div>
    </ul>

{% endfor %}

{% endblock %}