{% extends 'base.jinja' %}

{% block content %}

<header class="main-header">
    <ul>
        <li class="header-button"><a href="/">Home</a></li>
        <li class="header-button"><a href="/members">Members</a></li>
        <li class="header-button"><a href="/lessons">Lessons</a></li>

    </ul>
</header>

<h1>Open Lesson</h1>

<form action="/lesson_form/add" method="post">
    <label for="lesson_name">Lesson:</label>
      <select id="lesson_name" name="lesson_name" required>
        <option value="" selected></option>
        <option value="open hour">Open Hour</option>
        <option value="judo">Judo</option>
        <option value="taekwondo">Taekwondo</option>
        <option value="jiu jitsu">jiu jitsu</option>
        <option value="pilates">Karate</option>
        <option value="pilates">Mixed Martia Arts</option>
        <option value="Body Combat">Body Combat</option>
      </select>
  </div>
  <button type="submit">Add</button>

</form>

{% endblock %}