{% extends 'base.jinja' %}
{% block content %}

<nav class="nav-area">
    <ul class="nav-list">
        <li class="nav-button"><a href="/">Home</a></li>
        <li class="nav-button"><a href="/members">Members</a></li>
        <li class="nav-button"><a href="/lessons">Lessons</a></li>
        <li class="nav-button"><a href="/enroll">Enroll</a></li>
    </ul>
</nav>

<H1>{{lesson.name}}</H1>


{% for member in members %}
<ul>
<li><p><a href="/member/{{member.id}}/show">{{member.first_name}} {{member.last_name}}</a></p>
</li>
</ul>
{% endfor %}


{% endblock %}