html {
    width: 100vw;
    height: 100vw;
}
header {
    display: flex;
    /* background-image: linear-gradient(beige,white); */
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-left: solid thin white;
    border-right: solid thin white;
    border-top: solid thin white;
    /* position: relative; */
}
h1 {
    color: white;
    text-decoration: underline;
    text-align: center;
    border-left:solid thin white;
    border-right:solid thin white;
}

.main-header {
    margin-top: 3rem;
    margin-bottom:5px;
    border-radius: 9px;
}

.main-header h1 {
    color: rgb(219, 214, 214);
}

.vojo {
    font-family: cursive;
    margin-right: auto;
    position:absolute;
    margin-left: 1vw;
    font-size: 6rem;
    border: none;
    text-decoration: none;

}
.vojo-phrase {
    margin: auto;
    text-decoration: underline;
}

footer {
    margin-top: auto;
    background: grey;
    opacity: 50%;
    display: flex;
    align-items:self-end;
    justify-content: space-evenly;
}

footer > p > a {
    text-decoration: None;
    color: white;
    font-size: x-small;
}
footer > p  {

    font-size: x-small;
}
body {
    color:white;

    /* background-image: url('images/darkgrain.jpg'); */
    background-color: rgb(22, 22, 22);
    /* background-image: radial-gradient(white,rgba(212, 192, 150, 0.884),rgba(252, 221, 141, 0.875)); */
    background-size: cover;
}


.action-box {
    margin: 5rem;
    margin-top: 10vw;
    display:flex;
    justify-content: space-around;

}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-style:double;
    width: 200px;
    height: 250px;
    gap: 4vw;
    /* background-image: linear-gradient(beige,white); */
}

.tainer-image {
    border: solid thin white;
    width: 90%;
    height: 50%;
    border-radius: 3px;
}

.nav-area {
    /* background-image: linear-gradient(white,beige); */
    border-right: red 5px thick;
}
.nav-list {
    margin: auto;
    margin-bottom: 5vw;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* border-right: solid thin white;
    border-left: solid thin white; */
    
}
.nav-button a {
    text-decoration: none;
}

.member-list-area {
    display: flex;
    /* flex-direction: row; */
    background-color: transparent;
    border: solid white;
    margin: 1vw;
    border-radius: 24px;
    width: 25rem;
    border-right: none;
    border-left: none;
}

/* .member-list-area ul {
    display: flex;
} */
a {
    text-decoration: none;
    color:white;
    width: 10vw;
    text-decoration: dotted underline lightgray;
}

.button-container {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    
}

.form-button{
    background-color: transparent;
    color: white;
    border: solid 1px;
    margin-right: 1vw;
    width: 10vw;

}

.member-list-unit {
    list-style:  none;
    font-style: none;
}

/* form {
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
} */
button:hover {
    background-color: white;
    color: black;
}
a:hover {
    background-color: white;
    color: black;
    border-radius: 4px;
}

.form-styling {
    border: solid 2px white;
    padding: 3rem;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
}

.enroll_lesson {
    width: 15vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: rgb(213, 212, 212);
    font-size: 13px;
    text-align: center;
    padding: 7px;
}

#mymessage {
    color: grey;
    font-size: smaller;
    margin-right: 3vw;
}

#lesson_name {
    width: 15rem;
}

.mem-add-label {
    margin: 15px;
}

.list-styling {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    border-top:solid thin white;
    border-bottom:solid thin white;
    border-radius: 8px;
    align-items: center;
    padding: 15px;
}

.list-styling > li > a {
    padding: 10px;
}
.member-page-top {
    display: flex;
    align-items: center;
    /* gap: 2rem; */
    margin-left: 10px;
    border-top: solid thin;
    flex-direction: column;
    border-radius: 8px;
}
.member-button {
    display: flex;
}
.member-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left:1rem;
}
#registered {
    display: flex;
    justify-content: center;
}
#mem-les-show {
    margin-left: -2rem;
}

#home-title {
    margin-top: 5rem;
}