{% extends 'base.jinja' %}

{% block content %}

<h1 id="home-title">Home Page</h1>
<div class="action-box">
    <div class="nav-container">
        <img class="tainer-image"  src="static/images/bjj-gracie.jpg"/>
        <div class="myanchor">
            <a class="anchor" href="/members">Manage Members</a>
        </div>
    </div>
    <div class="nav-container">
        <img class="tainer-image"  src="static/images/book.jpg"/>
        <div class="myanchor">
        <a class="anchor" href="/lessons">Manage Lessons</a>
        </div>
    </div>
    <div class="nav-container">
        <img class="tainer-image"  src="static/images/bwf.jpg"/>
        <div class="myanchor">
        <a class="anchor" href="/enroll">Enroll</a>
        </div>
    </div>
</div>

{% endblock %}