{% extends 'base.jinja' %}

{% block content %}
<header class="main-header">
    <ul>
        <li class="header-button"><a href="/member_base">Members</a></li>
    </ul>
<h1>yay index page</h1>

{% endblock %}