{% extends 'base.jinja' %}

{% block content %}

</div>
<body>
<div class="action-box">
    <div class="nav-container">
        <img class="tainer-image"  src="static/images/guy_kicking.jpg"/>
        <div class="myanchor">
            <a class="anchor" href="/members">Manage Members</a>
        </div>
    </div>
    <div class="nav-container">
        <img class="tainer-image"  src="static/images/karate_fighter.jpg"/>
        <div class="myanchor">
        <a class="anchor" href="/lessons">Manage Lessons</a>
        </div>
    </div>
    <div class="nav-container">
        <img class="tainer-image"  src="static/images/guy_kicking.jpg"/>
        <div class="myanchor">
        <a class="anchor" href="/enroll">Enroll</a>
        </div>
    </div>
</div>
{% endblock %}