{% extends 'base.jinja' %}
{% block content %}

<nav class="nav-area">
    <ul class="nav-list">
        <li class="nav-button"><a href="/">Home</a></li>
        <li class="nav-button"><a href="/members">Members</a></li>
        <li class="nav-button"><a href="/member_form">Lessons</a></li>
    </ul>
</nav>

<h1>Enroll Members</h1>

    <form action="/enroll" method="post">
    <div class="form-styling">
         {# <div class="form-styling"> #}
        <label for="enroll_lesson">Lesson:</label>
        <select id="enroll_lesson" name="lesson_id" required autofocus>
        <option value="">Please select</option>
       
    {% for lesson in lessons %} 

            <option value='{{lesson.id}}'>{{lesson.name}}</option>
    {% endfor %}
    </select>


    <label for="enroll_member">Member:</label>
        <select id="enroll_member" name="member_id" required>
            <option value="">Please select</option>
            
            {% for member in members %}
    
                <option value='{{member.id}}'>{{member.first_name}}</option>
            {% endfor %}
            
        </select>
               <button class="form-button">Enroll</button>
        {# </div> #}
 
   </div>
    </form>  

{% endblock %}